body {
  height: 100%;
  background: linear-gradient(to left, #ff7e5f, #feb47b);
}

#app {
  padding: 10px;
  padding-bottom: 50px;
  margin-top: 50px;
}
h1 {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Kumar One";
  color: white;
  font-size: 50px;
}
span {
  animation: blink 1s infinite;
}
@keyframes blink {
  to{opacity: .0;}
}
#tips {
  list-style-type: none;
}

#tips li {
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  color: white;
}
#controls {
  text-align: center;
}
button {
  margin-top: 10px;
  width: 100px;
  background: none;
  color: white;
  font-family: "Kumar One";
  padding-top: 10px;
}
input {
  background: none;
  color: white;
  text-align: center;
  font-size: 25px;
}
